.main-content {
    height: 100vh;
    background-color: #F5F5F5;
}

.link {
    padding-left: 20px;
    text-decoration: none;
}

.link:hover {
    border-left: solid 6px #c9bba7;
    background-color: #F5F5F5 !important;
}

.active {
    border-left: solid 6px #c9bba7;
    background-color: #F5F5F5 !important;
}

.side-nav-container {
    min-width: 300px;
}

.side-bar-content {
    flex: 1 1 auto;
}

.side-bar {
    flex: 0 1 auto;
}

.header {
    background-color: #c9bba7;
}

.content {
    line-height: 2rem;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.link-logout {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.logout:hover {
    background-color: #F5F5F5 !important;
}
.logout {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px 12px;
    margin-left: auto;
    margin-right: 0;
}