<div class="container">
    <mat-toolbar class="side-bar" class="header">
        <mat-toolbar-row>
            <button (click)="button.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                Menu&nbsp;
            </span>
            <div class="logout">
                <a href="/login" class=" link-logout">Logout</a>
                <i class="fa fad fa-sign-out"></i>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="side-bar-content">
        <mat-sidenav class="side-nav-container" #button mode="side" closed>
            <mat-nav-list>
                <a mat-list-item href="/home" class="link active">
                    Dashboard
                </a>
                <a mat-list-item href='/notes' class="link">
                    Client Search
                </a>
                <a mat-list-item href='/reports' class="link">
                    Reports
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <h1 style="display: inline-block;">Dashboard</h1>
            <button #syncbutton class=" synch-button" mat-button disabled="false"
                (click)="enableDisableButton()">Synch with Mindbody</button>


            <div *ngFor="let data of treatment">
                <mat-card class="cards">
                    <mat-card-content class="card">
                        <div class="phoneView">
                            <h3>{{formatDate(data.treatment_StartDateTime)}}</h3>
                            <h3>{{data.staff_id}}</h3>

                        </div>
                        <div>
                            <button mat-button style="display: block;" routerLink="/massageForm">Massage Form</button>
                            <button mat-button style="display: block;" (click)="openClientInfo(data.client_id)">Client
                                Information</button>
                            <div *ngIf="data.pressure==null; then thenBlock else elseBlock"></div>
                            <ng-template #thenBlock>
                                <button mat-button style="display: block; background-color: rgb(244, 96, 96);"
                                    (click)="openNotesInfo(data.treatment_id)">Add
                                    Notes</button>
                            </ng-template>
                            <ng-template #elseBlock>
                                <button mat-button style="display: block; background-color: rgb(116, 216, 116);"
                                    disabled="true">Notes Done!
                                </button>
                            </ng-template>


                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>