.header {
    background-color: #c9bba7;
}

.content {
    line-height: 2rem;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.side-bar {
    flex: 0 1 auto;
}

.side-bar-content {
    flex: 1 1 auto;
}

.main-content {
    height: 100vh;
}

.main-content h1 {
    padding: 40px 50px 20px 50px;
}

.cards {
    margin: 20px 50px;
}

.card:hover {
    border: 1px solid blueviolet;
}

.card {
    columns: 4;
}