.header {
    background-color: #c9bba7;
}

.content {
    line-height: 2rem;
    font-size: 1.2em;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: auto;
}

.side-bar {
    flex: 0 1 auto;
}

.side-bar-content {
    flex: 1 1 auto;
}

.main-content {
    background-color: #F5F5F5;
}

.main-content h1 {
    padding: 40px 50px 20px 50px;
}

.cards {
    margin: 20px 50px;
}

.card:hover {
    border: solid 1px #c9bba7;
}

.card,
.explanation-title {
    columns: 5;
}

.explanation-title h3 {
    color: #909090;
}

.link {
    padding-left: 20px;
}

.link:hover {
    border-left: solid 6px #c9bba7;
    background-color: #F5F5F5 !important;
}

.active {
    border-left: solid 6px #c9bba7;
    background-color: #F5F5F5 !important;
}

.side-nav-container {
    min-width: 150px;
}

.explanation {
    margin-bottom: -40px;
    margin-top: -10px;
}

/* Tablet View */
@media only screen and (max-width: 600px) {
    .side-nav-container {
        min-width: 150px;

    }

    .phoneView {
        display: flexbox;
        background-color: #909090;
    }
}

/* Mobile View */
@media only screen and (max-width: 430px) {
    .side-nav-container {
        min-width: 150px;
    }

    .synch-button{
        display: none !important;
    }
}

.full-width {
    width: 100%;
}

.synch-button {
    display: inline-block;
    background-color: #c9bba7;
    margin-left: 61vw;

}