<div class="container">
    <mat-toolbar class="side-bar" class="header">
        <mat-toolbar-row>
            <button (click)="button.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                Menu&nbsp;
            </span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="side-bar-content">
        <mat-sidenav style="min-width: 300px;" #button mode="side" opened>
            <mat-nav-list>
                <a mat-list-item href="/home">
                    <mat-icon >home</mat-icon>
                    Home
                </a>
                <a mat-list-item href="/login">
                    <mat-icon >login</mat-icon>
                    Login
                </a>
                <a mat-list-item href='/massageForm'>
                    <mat-icon >add</mat-icon>
                    Massage Form
                </a>
                <a mat-list-item href='/notes'>
                    <mat-icon >add</mat-icon>
                    Notes Form
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <h1>Dashboard</h1>
            <div *ngFor="let data of formsData">
                <mat-card class="cards">
                    <mat-card-content class="card">
                        <h4>8am - {{data.full_name}}</h4>
                        <button mat-button style="display: block;" routerLink="/massageForm">Massage Form</button>
                        <button mat-button style="display: block;" (click)="openClientInfo()">Client Information</button>
                        <button mat-button style="display: block;" (click)="openNotesInfo()" >Add Notes</button>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>