.main-content h1 {
  padding: 40px 50px 20px 50px;
  display: inline-block;
}
mat-toolbar {
  padding: 0 40px;
}
mat-toolbar-row {
  padding: 0;
}

mat-dialog-content {
  width: 80vw;
  height: auto;
}

.menuIconButton:hover {
  background-color: #ffffff;
  color: #000000;
}

.legend {
  columns: 5;
  /* margin: 22px 40px -20px 50px; */
  margin: 20px 54px;
  color: gray;
}

.legend h2 {
  margin: 0;
  /* height: 100%;
  word-break: break-word; */
}

.cards {
  margin: 20px 40px;
}

.card:hover {
  border: solid 1px #c9bba7;
}
.data-description {
  color: black;
  font-weight: 400;
}
.card {
  columns: 5;
}
.card h3 {
  margin: 0;
  padding: 4px 0 4px;
}
.cardTextContent {
  margin: 0;
}
.active {
  border-left: solid 6px #c9bba7;
  background-color: #f5f5f5 !important;
}

.explanation {
  margin-bottom: -40px;
  margin-top: -10px;
}

.full-width {
  width: 100%;
}

.sync-button {
  display: inline-block;
  /* background-color: #c9bba7; */
  background: linear-gradient(180deg, #7b61cb 0%, #59abde 100%);
  align-items: end;
}
.loadingSync {
  display: inline-flex;
  align-items: center;
  width: 100%;
}
.loadingSyncRight {
  margin-left: auto;
  padding: 0 40px;
  display: inline-flex;
  align-items: center;
}
.loadingSyncRight mat-spinner {
  padding-right: 16px;
}
.loadingSyncRight button {
  color: #fff;
}

.sync-button:hover {
  background: #7b61cb;
}

.logoutButton {
  margin-left: auto;
}
.logoutButton:hover {
  color: #fff;
  background-color: #a22020;
}

.addFormButton {
  display: inline-block;
  background-color: #ffff99;
  width: 80%;
}
.clientInformationButton {
  display: inline-block;
  background-color: #eeeeee;
  width: 80%;
}
.addNotesButton {
  display: inline-block;
  background-color: rgb(246, 112, 112);
  width: 80%;
}
.notesDoneButton {
  display: inline-block;
  background-color: rgb(116, 216, 116);
  width: 80%;
}

mat-card-content {
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.MobileVersion {
  display: none;
}

@media only screen and (max-width: 1115px) {
  .addFormButton {
    height: 48px;
    /* width: 80%; */
  }
  .clientInformationButton {
    height: 48px;
    /* width: 80%; */
  }
  .addNotesButton {
    height: 48px;
    /* width: 80%; */
  }
  .notesDoneButton {
    height: 48px;
    /* width: 80%; */
  }
}

/* Tablet - Ipad Air - 820px */
@media only screen and (max-width: 820px) {
  .legend {
    margin: 20px auto;
    padding-left: 24px;
    padding-right: 20px;
    width: 85vw;
  }

  .legend h2 {
    font-size: medium;
  }

  .cards {
    margin: 20px 20px;
  }
  .card {
    gap: 8px;
  }

  .addFormButton {
    min-height: 48px;
    min-width: 140px;
  }
  .clientInformationButton {
    min-height: 48px;
    min-width: 140px;
  }

  .addNotesButton {
    min-height: 48px;
    min-width: 106px;
  }
  .notesDoneButton {
    min-height: 48px;
    min-width: 106px;
  }
}

@media only screen and (max-width: 780px) {
  .addFormButton {
    min-height: 48px;
    min-width: auto;
  }
  .clientInformationButton {
    min-height: 48px;
    min-width: auto;
  }

  .addNotesButton {
    min-height: 48px;
    min-width: auto;
  }
  .notesDoneButton {
    min-height: 48px;
    min-width: auto;
  }
}

/* Mobile - 600px */
@media only screen and (max-width: 600px) {
  .sync-button {
    display: none;
  }

  .legend {
    display: none;
  }
  .main-content h1 {
    padding: 20px;
    margin: 0;
  }

  .card {
    display: flex;
    align-items: center;
  }
  .card h3 {
    max-width: 80px;
    margin: 0 8px;
  }
  .addFormButton {
    min-width: 88px;
  }
  .clientInformationButton {
    min-width: 120px;
  }
  .addNotesButton {
    min-width: 88px;
  }
  .notesDoneButton {
    min-width: 88px;
  }
}
/* Mobile - 500px */
@media only screen and (max-width: 500px) {
  .tabletVersion {
    display: none;
  }
  .MobileVersion {
    display: block;
  }

  .legend {
    display: none;
  }
  .clientDetails {
    display: block;
    width: 40vw;
  }

  .detailsButtons {
    display: block;
    width: 40vw;
    margin: 0;
    height: auto;
  }
  .addFormButton {
    margin: 8px 0;
  }
  .clientInformationButton {
    margin: 8px 0;
  }
  .addNotesButton {
    margin: 8px 0;
  }
  .notesDoneButton {
    margin: 8px 0;
  }
  /* .card h3 {
    min-width: 40vw;
  }
  .card button {
    min-width: 40vw;
  } */
  /* .main-content h1 {
    padding: 40px 50px 0 50px;
    display: inline-block;
  }
  .legend {
    display: inline-flex;
    columns: 3;
  }
  .cardButtonContent {
    display: none;
  }
  .card {
    display: grid;
    gap: 8px;
    margin: auto 0;
    font-size: initial;
    padding: 0 16px;
    justify-content: center;
  }
  .addFormButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .clientInformationButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .addNotesButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .notesDoneButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  mat-card-content:last-child {
    padding-top: 8px;
    padding-bottom: 8px;
  } */
}

/* Mobile - iPhone 12 Pro - 390px */
@media only screen and (max-width: 390px) {
  /* .main-content h1 {
    padding: 40px 50px 0 50px;
    display: inline-block;
  } */
  /* .legend {
    display: none;
  }
  .cardButtonContent {
    display: none;
  }
  .card {
    display: grid;
    gap: 8px;
    margin: auto 0;
    font-size: initial;
    padding: 0 16px;
    justify-content: center;
  }

  .card h3 {
    min-width: 40vw;
  }
  .card button {
    min-width: 40vw;
  } */

  /* .cardTextContent {
    columns: 3;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  .addFormButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .clientInformationButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .addNotesButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  .notesDoneButton {
    min-width: 180px;
    margin: auto;
    padding: 8px;
  }
  mat-card-content:last-child {
    padding-top: 8px;
    padding-bottom: 8px;
  } */
}
