<mat-dialog-content class="mat-typography">
  <div *ngFor="let data of clientById">
    <mat-card style="margin-bottom: 15px" class="">
      <mat-card-content class="">
        <h1 class="data-description"><b>{{data.full_name}} </b></h1>

        <p><span class="data-description">Date of Birth:
          </span>{{formatDate(data.date_of_birth)}}
        </p>
        <p><span class="data-description">Occupation:</span> {{data.occupation}}</p>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-bottom: 15px">
      <mat-card-content class="">
        <h2 class="data-description">Health Information</h2>
        <p><span class="data-description">Taking Medication:</span> {{data.taking_medication}}</p>
        <p><span class="data-description">Medciation List:</span> {{data.taking_medication_list}}</p>
        <p><span class="data-description">Pregnancy:</span>
          {{data.pregnant}} {{data.pregnant_how_far}} weeks
          {{data.pregnant_high_risk}}
        </p>
        <p><span class="data-description">Chronic Pain: </span>{{data.chronic_pain}}</p>
        <p><span class="data-description">Injuries:</span> {{data.orthopedic_injuries}}</p>
        <ul>
          <li *ngIf="data.hasCancer == '1'">Cancer: Yes</li>
          <li *ngIf="data.hasHeadaches_migraines == '1'">Migranaines: Yes</li>
          <li *ngIf="data.hasFibromyalgia == '1'">Fibromyalgia: Yes</li>
          <li *ngIf="data.hasStroke == '1'">Stroke: Yes</li>
          <li *ngIf="data.hasArthritis == '1'">Arthritis: Yes</li>
          <li *ngIf="data.hasHeart_attack == '1'">Heart Attack: Yes</li>
          <li *ngIf="data.hasDiabetes == '1'">Diabetes: Yes</li>
          <li *ngIf="data.hasJoint_replacement == '1'">
            Joint Replacement: Yes
          </li>
          <li *ngIf="data.hasBlood_clots == '1'">Blood Clots: Yes</li>
          <li *ngIf="data.hasHigh_low_pressure == '1'">
            Low/High Blood Pressure: Yes
          </li>
          <li *ngIf="data.hasNumbness == '1'">Numbness: Yes</li>
          <li *ngIf="data.hasNeuropathy == '1'">Neuropathy: Yes</li>
          <li *ngIf="data.hasSprains_strains == '1'">Sprais/Strains: Yes</li>
          <li *ngIf="data.hasDiabetes == '1'">Diabetes: Yes</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-bottom: 15px">
      <mat-card-content>
        <h2 class="data-description">Massage Information</h2>
        <p *ngIf="data.had_professional_massage == '1'"> <span class="data-description"></span>
          This is the client's first massage ever!
        </p>
        <p><span class="data-description">Pressure: </span>{{data.pressure_preference}}</p>
        <p><span class="data-description">Allergies: </span>{{data.allergies_sensitivities}}</p>
        <p><span class="data-description">Explanation: </span> {{data.allergies_sensitivities_explanation}}</p>
        <p><span class="data-description">Treatment Goals: </span></p>
        <ul>
          <li *ngIf="data.goal_stress_reduction == '1'">Stress Reduction</li>
          <li *ngIf="data.goal_pain_relief == '1'">Pain relief</li>
          <li *ngIf="data.goal_increase_range_of_motion == '1'">
            Increase range of motion
          </li>
          <li *ngIf="data.goal_injury_rehabilitation == '1'">
            Increase range of motion
          </li>
          <li *ngIf="data.goal_improve_sleep == '1'">Improve Sleep</li>
          <li *ngIf="data.goal_increase_energy == '1'">Increase Energy</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <h1 class="data-description">Past Treatments Notes</h1>
  <mat-card style="margin-bottom: 15px" *ngFor="let data of clientNotesById">
    <mat-card-content>
      <h2> <span class="data-description">{{formatDate(data.treatment_StartDateTime)}} - {{data.full_name}}</span></h2>
      <p><span class="data-description">Concentrated areas:</span> {{data.front_of_body}}, {{data.back_of_body}}</p>
      <p><span class="data-description">Pressure:</span> {{data.pressure}}</p>
      <p><span class="data-description">Extra Notes: </span>{{data.treatment_notes}}</p>
    </mat-card-content>
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>