<!-- <header class="header">
  <div class="wrapper">
    <div class="logo">
      <img src="./assets/logo.png" alt="White Stone logo" />
    </div>
  </div>
</header> -->
<div class="father-div">
  <header>
    <div class="wrapper">
      <nav>
        <div class="logo">
          <img src="./assets/logo.png" alt="White Stone logo" />
        </div>
      </nav>
    </div>
  </header>

  <!-- Section - Personal Information -->
  <section class="wrapper">
    <mat-card class="personalInformation">
      <mat-card-header class="personal-information-card-header">
        <mat-card-title>
          <h1>Personal Information</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="personal-information-card-content">
        <form [formGroup]="massageForm" (ngSubmit)="onSubmit()">
          <div>
            <div class="form-container">
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput id="fullName" placeholder="Full Name" type="text" formControlName="fullName" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>DOB</mat-label>
                  <!-- id="DOB" type="date" formControlName="DOB" -->
                  <input formControlName="dob" matInput [matDatepicker]="picker" id="DOB" placeholder="DOB" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="lines">

                <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput id="address" placeholder="Address" type="text" formControlName="address" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>City</mat-label>
                  <input matInput id="city" placeholder="City" type="text" formControlName="city" />
                </mat-form-field>
              </div>
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state">
                    <mat-option value="n/a">Not Australia</mat-option>
                    <mat-option value="qld">QLD</mat-option>
                    <mat-option value="nsw">NSW</mat-option>
                    <mat-option value="vic">VIC</mat-option>
                    <mat-option value="tas">TAS</mat-option>
                    <mat-option value="act">ACT</mat-option>
                    <mat-option value="nt">NT</mat-option>
                    <mat-option value="ws">WA</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Postal Code</mat-label>
                  <input matInput id="postal-code" placeholder="Postal Code" type="text" formControlName="postCode" />
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="fill">
                  <mat-label >Ocuppation</mat-label>
                  <input  matInput id="occupation" placeholder="Occupation" type="text" formControlName="occupation" />
                </mat-form-field>

              </div>
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput id="email" placeholder="Email" type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" placeholder="Phone" type="text" formControlName="phone" />
                </mat-form-field>
              </div>
              <div style="columns: 3; display: flex; max-width: 91%;">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput id="email" placeholder="Email" type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" placeholder="Phone" type="text" formControlName="phone" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" placeholder="Phone" type="text" formControlName="phone" />
                </mat-form-field>
              </div>
              <mat-form-field class="full-width">
                <input matInput placeholder="Full name" />
              </mat-form-field>
            </div>
          </div>




          <!-- <div>
            <input type="checkbox" id="onlineSearch" name="hearAboutUs" />
            <label for="onlineSearch">Online Search</label>
            <input type="checkbox" id="facebook" name="hearAboutUs" />
            <label for="facebook">Facebook</label>
            <input type="checkbox" id="instagram" name="hearAboutUs" />
            <label for="hearAboutUs">Instagram</label>
            <input type="checkbox" id="onlienAdver" name="hearAboutUs" />
            <label for="onlienAdver">Online Advertisement</label>
            <input type="checkbox" id="wom" name="hearAboutUs" />
            <label for="wom">Word of Mouth</label>
            <input type="checkbox" id="referralFamily" name="hearAboutUs" />
            <label for="referralFamily">Referral from friend/family</label>
            <input type="checkbox" id="referralProvider" name="hearAboutUs" />
            <label for="referralProvider">Referral from Healthcare Porvider</label>
            <input type="checkbox" id="walkedBy" name="hearAboutUs" />
            <label for="walkedBy">Walked by</label>
          </div> -->
        </form>
      </mat-card-content>
    </mat-card>
  </section>

  <section>
    <div class="wrapper">
      <form class="form-container-personal-information">
        <mat-card class="personal-information">
          <mat-card-header class="personal-information-card-header">
            <mat-card-title>
              <h1>Health Information</h1>
            </mat-card-title>
          </mat-card-header>
          <!-- <mat-card-content class="personal-information-card-content"> -->
          <mat-card-content class="personal-information-card-content">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Full name" />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="full-width">
                  <input matInput placeholder="Last name" />
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </section>
</div>
<!-- 
<form>
  <h1>Testing database</h1>
  <button style="padding:3px 30px " (click)="getData()">Bring data </button>
  <p *ngFor="let therapist of therapists">Therapist-> Name: {{therapist.fullName}}, ID: {{therapist.therapist_id}}</p>
  <p *ngFor="let client of clients">Client-> Name: {{client.firstName + " " + client.lastName}}, Phone:
    {{client.mobile_phone}}</p>
  <p *ngFor="let treatment of treatments">Treatment-> ID: {{treatment.treatment_id}}, Client: {{treatment.clientName}},
    Therapist: {{treatment.therapistName}}, Notes ID: {{treatment.treatment_notes_id}}, Date:
    {{formatDate(treatment.treatment_date)}}, Notes: {{treatment.treatment_notes}}</p>
</form> -->