<div class="father-div">
  <header>
    <div class="wrapper">
      <nav>
        <div class="logo">
          <img src="./assets/logo.png" alt="White Stone logo" />
        </div>
      </nav>
    </div>
  </header>

  <form [formGroup]="massageForm" (ngSubmit)="onSubmit()">
    <!-- PERSONAL INFORMATION SECTION -->
    <section class="wrapper">
      <mat-card class="personal-information">
        <mat-card-header class="personal-information-card-header">
          <mat-card-title>
            <h1>Personal Information</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="personal-information-card-content">
          <div>
            <div class="form-container">
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Full Name</mat-label>
                  <input matInput id="name" placeholder="Full Name" type="text" formControlName="name" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>DOB</mat-label>
                  <input formControlName="date_of_birth" matInput [matDatepicker]="picker" id="date_of_birth"
                    placeholder="date_of_birth" />
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Address</mat-label>
                  <input matInput id="address" placeholder="Address" type="text" formControlName="address" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Suburb</mat-label>
                  <input matInput id="suburb" placeholder="Suburb" type="text" formControlName="suburb" />
                </mat-form-field>
              </div>

              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state">
                    <mat-option value="n/a">Not Australia</mat-option>
                    <mat-option value="qld">QLD</mat-option>
                    <mat-option value="nsw">NSW</mat-option>
                    <mat-option value="vic">VIC</mat-option>
                    <mat-option value="tas">TAS</mat-option>
                    <mat-option value="act">ACT</mat-option>
                    <mat-option value="nt">NT</mat-option>
                    <mat-option value="ws">WA</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Postal Code</mat-label>
                  <input matInput id="postal_code" placeholder="Postal Code" type="text"
                    formControlName="postal_code" />
                </mat-form-field>
              </div>

              <!-- Occupation -->
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Ocuppation</mat-label>
                  <input matInput id="occupation" placeholder="Occupation" type="text" formControlName="occupation" />
                </mat-form-field>
              </div>

              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput id="email" placeholder="Email" type="email" formControlName="email" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" placeholder="Phone" type="text" formControlName="phone" />
                </mat-form-field>
              </div>

              <div class="radiobox-lines">
                <mat-radio-group aria-label="Select an option" formControlName="hasHealth_insurance">
                  <p>Do you have a health insurance?</p>

                  <mat-radio-button value="Yes">Yes</mat-radio-button>
                  <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="lines">
                <mat-form-field>
                  <mat-label>If yes, what is your Health Insurance?</mat-label>
                  <mat-select id="health_insurance" formControlName="health_insurance">
                    <mat-option value="N/A">N/A</mat-option>
                    <mat-option value="Medibank">Medibank</mat-option>
                    <mat-option value="Bupa">Bupa</mat-option>
                    <mat-option value="HCF">HCF</mat-option>
                    <mat-option value="Nib">Nib</mat-option>
                    <mat-option value="HBF">HBF</mat-option>
                    <mat-option value="Australian Unity">Australian Unity</mat-option>
                    <mat-option value="Teachers Health">Teachers Health</mat-option>
                    <mat-option value="Quantas Health">Quantas Health</mat-option>
                    <mat-option value="Defence Health">Defence Health</mat-option>
                    <mat-option value="CBHS">CBHS</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Other</mat-label>
                  <input matInput id="health_insurance_other" placeholder="Other" type="text"
                    formControlName="health_insurance" />
                </mat-form-field>
              </div>

              <div class="three-collums">
                <mat-form-field appearance="fill">
                  <mat-label>Emergency Contact Name</mat-label>
                  <input matInput id="emergencyName" placeholder="Emergency Contact Name" type="text"
                    formControlName="emergency_contact_name" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Relationship</mat-label>
                  <input matInput id="relationship" placeholder="Relationship" type="text"
                    formControlName="emergency_contact_relationship" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input matInput id="phone" placeholder="Phone" type="text" formControlName="emergencycontactphone" />
                </mat-form-field>
              </div>
              <!-- HEar about us -->
              <h4>How did you hear about us?</h4>
              <div class="lines">
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox type="checkbox" id="onlineSearch" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="onlineSearch">Online Search</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="facebook" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="facebook">Facebook</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="instagram" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="hearAboutUs">Instagram</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="onlienAdver" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="onlienAdver">Online Advertisement</label>
                  </div>
                </div>
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox type="checkbox" id="wom" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="wom">Word of Mouth</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="referralFamily" name="hearAboutUs"
                      formControlName="hearAboutUs" />
                    <label for="referralFamily">Friend/family</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="referralProvider" name="hearAboutUs"
                      formControlName="hearAboutUs" />
                    <label for="referralProvider">Healthcare Provider</label>
                  </div>
                  <div>
                    <mat-checkbox type="checkbox" id="walkedBy" name="hearAboutUs" formControlName="hearAboutUs" />
                    <label for="walkedBy">Walked by</label>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section>

    <!-- MEDICAL INFORMATION SECTION -->
    <section class="wrapper">
      <mat-card class="personal-information">
        <mat-card-header class="personal-information-card-header">
          <mat-card-title>
            <h1>Medical Information</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="personal-information-card-content">


            <div class="form-container">
              <div class="lines">
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option" formControlName="">
                    <p>Are you taking any medications?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>

              <mat-form-field appearance="fill">
                <mat-label>If yes, please list name and use</mat-label>
                <input matInput id="medications" placeholder="Please type the name and use" type="text"
                  formControlName="medications" />
              </mat-form-field>
            </div>

              <div class="lines">
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option">
                    <p>Are you currently pregnant?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>

              <mat-form-field appearance="fill">
                <mat-label>If yes, how far along?</mat-label>
                <input matInput id="howfar-pregnant" placeholder="How far" type="text" formControlName="" />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Any high risk factors?</mat-label>
                <input matInput id="risks-pregnant" placeholder="Any risk" type="text" formControlName="" />
              </mat-form-field>
            </div>

              <div class="lines">
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option">
                    <p>Do you suffer from chronic pain?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>

              <mat-form-field appearance="fill">
                <mat-label>If yes, please explain</mat-label>
                <input matInput id="chronic-pain" placeholder="Please type the name and use" type="text"
                  formControlName="" />
              </mat-form-field>
            </div>

              <div class="lines">
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option">
                    <p>Have you had any orthopedic injuries?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>

              <mat-form-field appearance="fill">
                <mat-label>If yes, please list</mat-label>
                <input matInput id="orthopedic-injuries" placeholder="Please type the name and use" type="text"
                  formControlName="" />
              </mat-form-field>
            </div>

            <h4>Please indicate any of the following that apply to you:</h4>
            <div class="lines">

              <div style="width: 50%;">
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-cancer" name="medical-cancer" />
                  <label for="medical-cancer">Cancer</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-headaches" name="medical-headaches" />
                  <label for="medical-headaches">Headaches / Migraines</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-arthritis" name="medical-arthritis" />
                  <label for="medical-arthritis">Arthritis</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-diabetes" name="medical-diabetes" />
                  <label for="medical-diabetes">Diabetes</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-joint" name="medical-joint" />
                  <label for="medical-joint">Joint Replacement(s)</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-bloodPressure"
                    name="medical-bloodPressure" />
                  <label for="medical-bloodPressure">High / Low Blood Pressure</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-neuropathy" name="medical-neuropathy" />
                  <label for="medical-neuropathy">Neuropathy</label>
                </div>
              </div>
              <div style="width: 50%;">
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-fibromyalgia" name="medical-fibromyalgia" />
                  <label for="medical-fibromyalgia">Fibromyalgia</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-stroke" name="medical-stroke" />
                  <label for="medical-stroke">Stroke</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-heartAttack" name="medical-heartAttack" />
                  <label for="medical-heartAttack">Heart Attack</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-kidney" name="medical-kidney" />
                  <label for="medical-kidney">Kidney Dysfunction</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-bloodClots" name="medical-bloodClots" />
                  <label for="medical-bloodClots">Blood Clots</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-numbness" name="medical-numbness" />
                  <label for="medical-numbness">Numbness</label>
                </div>
                <div>
                  <mat-checkbox color="primary" type="checkbox" id="medical-sprains" name="medical-sprains" />
                  <label for="medical-sprains">Sprains or Strains</label>
                </div>
              </div>
            </div>
            <br />
            <div class="lines">
              <mat-form-field>
                <mat-label>Explain any conditions you have marked above</mat-label>
                <textarea matInput placeholder="Any conditions"></textarea>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </section>

    <!-- MASSAGE INFORMATION SECTION -->
    <section class="wrapper">
      <mat-card class="personal-information">
        <mat-card-header class="personal-information-card-header">
          <mat-card-title>
            <h1>Massage Information</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="personal-information-card-content">

            <div class="form-container">
              <div class="lines">
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option">
                    <p>Have you had a professional massage before?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>What type of massage are you interested in?</mat-label>
                  <mat-select formControlName="" multiple>
                    <mat-option value="n/a">Remedial Massage</mat-option>
                    <mat-option value="qld">Deep Tissue/Sports Massage</mat-option>
                    <mat-option value="nsw">Swedish/Relaxation</mat-option>
                    <mat-option value="vic">Lymphatic Drainage</mat-option>
                    <mat-option value="tas">Foot Reflexology</mat-option>
                    <mat-option value="act">Indian Head Massage</mat-option>
                    <mat-option value="nt">Dry Needling</mat-option>
                    <mat-option value="ws">Cupping Treatment</mat-option>
                    <mat-option value="ws">Pregnancy Massage</mat-option>
                    <mat-option value="ws">Post Natal Massage</mat-option>
                    <mat-option value="ws">Energy Healing Massage</mat-option>
                    <mat-option value="ws">Devine Shape</mat-option>
                    <mat-option value="ws">Lomi Lomi</mat-option>
                    <mat-option value="ws">Recover and Disconnect</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Other</mat-label>
                  <input matInput id="other" placeholder="Other" type="text" formControlName="" />
                </mat-form-field>
              </div>
              <div>
                <div class="radiobox-lines">
                <mat-radio-group aria-label="Select an option">
                  <p>What pressure do you prefer?</p>
                  <mat-radio-button value="1">Light</mat-radio-button>
                  <mat-radio-button value="2">Medium</mat-radio-button>
                  <mat-radio-button value="3">Hard</mat-radio-button>
                  <mat-radio-button value="4">Deep</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option">
                    <p>Do you have any allergies or sensitivities?</p>
                    <mat-radio-button value="1">Yes</mat-radio-button>
                    <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              <div>
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Please Explain</mat-label>
                  <input matInput id="" placeholder="Please Explain" type="text" formControlName="" />
                </mat-form-field>
              </div>

              <h4>What are your goals for this session?</h4>
              <div class="lines">
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="onlineSearch" name="hearAboutUs" />
                    <label for="onlineSearch">Pain Relief</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="facebook" name="hearAboutUs" />
                    <label for="facebook">Stress Reduction</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="instagram" name="hearAboutUs" />
                    <label for="hearAboutUs">Increase range of motion</label>
                  </div>

                </div>
                <div style="width: 50%;">

                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="referralFamily" name="hearAboutUs" />
                    <label for="referralFamily">Injury Rehabilitation</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="referralProvider" name="hearAboutUs" />
                    <label for="referralProvider">Improve Sleep</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="walkedBy" name="hearAboutUs" />
                    <label for="walkedBy">Increase Energy</label>
                  </div>
                </div>
              </div>
              <br><br><br><br><br>
              <h4>By signing below, you agree to the following.</h4>
              <h4> I have completed this form to the best of my ability and
                knowledge and agree to inform my therapist if any of the above information changes at any time.
              </h4>

              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Client Signature</mat-label>
                  <input matInput id="" placeholder="Client Signature" type="text" formControlName="" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Date</mat-label>
                  <input matInput id="date" placeholder="Other" type="text" formControlName="" />
                </mat-form-field>
              </div>

              <h4>What are your goals for this treatment?</h4>
              <div class="lines">

                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-pain" name="goals-pain" />
                    <label for="goals-pain">Pain relief</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-stress" name="goals-stress" />
                    <label for="goals-stress">Stress reduction</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-flexibility" name="goals-flexibility" />
                    <label for="goals-flexibility">Increase flexibility and range of motion</label>
                  </div>
                </div>
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-injury" name="goals-injury" />
                    <label for="goals-injury">Injury rehabilitation</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-sleep" name="goals-sleep" />
                    <label for="goals-sleep">Improve sleep</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="goals-energy" name="goals-energy" />
                    <label for="goals-energy">Increase energy</label>
                  </div>
                </div>

              </div>
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Other</mat-label>
                  <input matInput id="" placeholder="Other goals" type="text" formControlName="" />
                </mat-form-field>
              </div>

              <h4>How often do you have a massage?</h4>
              <div class="lines">

                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="massage-often-weekly" name="massage-often-weekly" />
                    <label for="massage-often-weekly">Weekly</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="massage-often-fortnight" name="massage-often-fortnight" />
                    <label for="massage-often-fortnight">Fortnight</label>
                  </div>
                </div>
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="massage-often-monthly" name="massage-often-monthly" />
                    <label for="massage-often-monthly">Monthly</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="massage-often-ramdomly" name="massage-often-ramdomly" />
                    <label for="massage-often-ramdomly">Randomly</label>
                  </div>
                </div>

              </div>
              <div class="lines">
                <mat-form-field appearance="fill">
                  <mat-label>Other</mat-label>
                  <input matInput id="" placeholder="How often" type="text" formControlName="" />
                </mat-form-field>
              </div>

              <div>
                <button mat-fab extended>Submit</button>
              </div>
            </div>

        </mat-card-content>
      </mat-card>
    </section>
  </form>
</div>

<!-- <section>
  <div class="wrapper">
    <form class="form-container-personal-information">
      <mat-card class="personal-information">
        <mat-card-header class="personal-information-card-header">
          <mat-card-title>
            <h1>Health Information</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="personal-information-card-content">
        <mat-card-content class="personal-information-card-content">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Full name" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="full-width">
                <input matInput placeholder="Last name" />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</section> -->

<!--
<form>
<h1>Testing database</h1>
<button style="padding:3px 30px " (click)="getData()">Bring data </button>
<p *ngFor="let therapist of therapists">Therapist-> Name: {{therapist.fullName}}, ID: {{therapist.therapist_id}}</p>
<p *ngFor="let client of clients">Client-> Name: {{client.firstName + " " + client.lastName}}, Phone:
  {{client.mobile_phone}}</p>
<p *ngFor="let treatment of treatments">Treatment-> ID: {{treatment.treatment_id}}, Client: {{treatment.clientName}},
  Therapist: {{treatment.therapistName}}, Notes ID: {{treatment.treatment_notes_id}}, Date:
  {{formatDate(treatment.treatment_date)}}, Notes: {{treatment.treatment_notes}}</p>
</form> -->
