.header {
    padding: 20px;
    background-color: bisque;
body {
  background-color: #fafafa;
}

header {
  /* background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%); */
  background-color: #c9bba7;
  height: 112px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1196px;
  padding: 12px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 96px;
  margin-left: 68px;
}

.massageform {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: white;
}
