h1 {
    padding: 40px 50px 0px 50px;
}

.active {
    border-left: solid 6px #c9bba7;
    background-color: #F5F5F5 !important;
}

.full-width {
    margin: 20px 0px 20px 80px;
    position: relative;
    width: 20vw;
}

#showInfo {
    display: block;
    width: 80vw;
    margin: auto;
}

.two-collum {
    columns: 2;
}

