.main-content h1 {
  padding: 40px 50px 20px 50px;
  display: flex;
}

mat-toolbar {
  padding: 0 40px;
}
mat-toolbar-row {
  padding: 0;
}

.active {
  border-left: solid 6px #c9bba7;
  background-color: #f5f5f5 !important;
}
.searchLine {
  margin: 20px 80px 20px 80px;
  columns: 2;
  display: inline-flex;
  align-items: center;
  /* width: 100%; */
}
.full-width {
  margin: 0 16px;
  width: auto;
}

.searchButton {
  padding: 16px;
}

.one-collum {
  columns: 1;
}
.two-collum {
  columns: 2;
}
.three-collum {
  columns: 3;
}

.logoutButton {
  margin-left: auto;
}
.logoutButton:hover {
  color: #fff;
  background-color: #a22020;
}
mat-icon {
  display: flex;
  justify-content: center;
}
.menuIconButton:hover {
  background-color: #ffffff;
  color: #000000;
}

.cards {
  margin: 20px 40px;
}

.card:hover {
  border: solid 1px #c9bba7;
}

.matCardContentText h3 {
  padding-top: 8px;
}
mat-card-content {
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

/* SVG Human Body Image */

.human_body_checkbox {
  fill: #b3b3b3;
}
/* .human_body_checkbox path:hover {
  fill: #570000;
} */

.human_body_part_selected {
  fill: rgb(200, 0, 0);
}
#humanbody_checkbox input[type="checkbox"] {
  display: none;
}

.human_body_container {
  display: inline-block;
  margin: 0 16px 16px 16px;
  padding: 8px 16px 8px 16px;
  border: 1px dotted #000000;
  border-radius: 16px;
}

.human_body_container p {
  display: block;
  text-align: center;
}
/* Tablet - 912px */
@media only screen and (max-width: 912px) {
}

/* Mobile - 600px */
@media only screen and (max-width: 600px) {
  .main-content h1 {
    padding: 40px 50px 0 50px;
    display: inline-block;
  }
  .searchLine {
    margin: 20px 32px 20px 32px;
    display: inline-flex;
    align-items: center;
  }

  .full-width {
    width: 90%;
    margin: 0 16px 0 16px;
  }
  .two-collum {
    columns: 1;
  }
  .three-collum {
    columns: 1;
  }
}

/* Mobile - iPhone 12 Pro - 390px */
@media only screen and (max-width: 390px) {
  .main-content h1 {
    padding: 40px 50px 0 50px;
    display: inline-block;
  }
  .searchLine {
    margin: 20px 32px 20px 32px;
    display: inline-flex;
    align-items: center;
  }
  .searchButton {
    margin: 0 16px;
  }
  .full-width {
    width: 90%;
    margin: 0 16px 0 16px;
  }
  .two-collum {
    columns: 1;
  }
  .three-collum {
    columns: 1;
  }
}

/* Mobile - iPhone SE - 375px */
@media only screen and (max-width: 375px) {
  .main-content h1 {
    padding: 40px 50px 0 50px;
    display: inline-block;
  }
  .searchLine {
    margin: 16px;
    display: inline-flex;
    align-items: center;
  }
  .searchButton {
    margin: 0 16px;
  }
  .full-width {
    width: 90%;
    margin: 0 16px 0 16px;
  }
  .two-collum {
    columns: 1;
  }
  .three-collum {
    columns: 1;
  }
}
