<div class="container">
    <mat-toolbar class="side-bar" class="header">
        <mat-toolbar-row>
            <button (click)="button.toggle()" mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>
                Menu&nbsp;
            </span>
            <div class="logout">
                <a href="/login" class="link-logout">Logout</a>
                <i class="fa fad fa-sign-out"></i>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="side-bar-content">
        <mat-sidenav class="side-nav-container" #button mode="side" closed>
            <mat-nav-list>
                <a mat-list-item href="/home" class="link">
                    <!-- <i class="fa fas fa-home"></i> -->
                    Dashboard
                </a>

                <a mat-list-item href='/notes' class="link active">
                    Client Search
                </a>
                <a mat-list-item href='/reports' class="link">
                    Reports
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="main-content">
            <h1>Search client's history</h1>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Look-up Client ID</mat-label>
                <input [formControl]="search_input" type="text" matInput onsubmit="onSubmit()">
            </mat-form-field>
            <button mat-button color="primary" (click)="onSubmit()">Submit</button>
            <mat-card id="showInfo">

            </mat-card>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>