<div class="body">
    <div class="wrapper">
        <h1>Welcome to WSForms</h1>
        <div class="container">
            <mat-form-field appearance="fill" class="email">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" />
            </mat-form-field>
            <mat-form-field appearance="fill" class="password">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
        <button mat-fab extended class="button" routerLink="/home">Submit</button>
    </div>
</div>