<div class="body">
  <div class="logo">
    <img src="./assets/logo.png" alt="White Stone logo" />
  </div>
  <div class="wrapper">
    <h1>Welcome to WSForms</h1>
    <div class="screenLoginContainer">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="email">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Please type your email"
            type="email"
            formControlName="username"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="password">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            placeholder="Please type your password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <div class="errormsg" *ngIf="login_fail">
          Incorrect Email or Password
        </div>
        <mat-spinner style="margin: 0 auto 20px;" *ngIf="loading" [diameter]="30"></mat-spinner>
        <button mat-fab extended class="button" type="submit" color="primary">
          Submit
        </button>
        <div class="forgot-password">
          <a
            href="https://signin.mindbodyonline.com/staffforgotpassword?customerAccountId=e4f4ad96-e3f7-4846-b5c9-a4ce6024fb31"
            target="_blank"
            >Forgot your password?</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
