.body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, rgba(134, 215, 241, 0.986), rgba(218, 105, 249, 0.731));

}

.wrapper {
    position: relative;
    width: 60vw;
    height: 50vh;
    background-color: white;
    margin: 20vh auto;
    border-radius: 8px;
}

.wrapper h1 {
    display: block;
    text-align: center;
    padding-top: 40px;
    font-weight: 900;
}

.container {
    position: relative;
}

.container mat-form-field {
    display: block;
    width: 50vw;
    margin: auto;
}

.button {
    display: block;
    margin: auto;
}

.links {
    position: relative;
    display: inline;
    margin: auto;
}

.link {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.forgot-password {
    display: flexbox;
    margin: auto;
    width: 50%;
    padding: 40px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.password-link:hover {
    text-decoration: underline;
}

/* Mobile View*/
@media only screen and (max-width: 430px) {
    .wrapper {
        height: 60vh;
    }

    .wrapper h1 {
        padding-top: 30px;
    }
}

/* Tablet View */
@media only screen and (max-width: 600px) {}