.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(313.85deg, #4bc7e5 14.25%, #7b60cb 84.5%);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  margin: auto;
}

.logo img {
  width: 176px;
}

.wrapper {
  position: relative;
  width: 480px;
  height: 480px;
  background-color: white;
  margin: 32px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper h1 {
  display: block;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 900;
  color: #7b60cb;
}

.screenLoginContainer {
  position: relative;
  margin: 40px 0 40px 0;
}

.screenLoginContainer mat-form-field {
  display: block;
  width: 400px;
  margin: auto;
  padding: 8px 0 8px 0;
}

.button {
  display: block;
  margin: auto;
  width: 128px;
}

.links {
  position: relative;
  display: inline;
  margin: auto;
}

.link {
  text-decoration: none;
  color: black;
  padding: 20px;
}

.errormsg {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  background-color: rgba(250, 190, 190, 1);
  color: darkred;
}

.forgot-password {
  display: flexbox;
  margin: auto;
  width: 50%;
  padding-top: 20px;
  text-align: center;
}
.forgot-password a {
  text-decoration: none;
  color: #202020;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* Tablet View */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 360px;
    height: 440px;
    margin: 32px auto;
  }

  .screenLoginContainer {
    position: relative;
    margin: 40px 0 40px 0;
  }

  .screenLoginContainer mat-form-field {
    display: block;
    width: 304px;
    margin: auto;
    padding: 8px 0 8px 0;
  }

  .logo img {
    width: 150px;
  }
}

/* Mobile View*/
@media only screen and (max-width: 430px) {
  .wrapper {
    width: 320px;
    height: 400px;
    margin: 16px auto;
  }

  .screenLoginContainer {
    position: relative;
    margin: 16px 0 16px 0;
  }

  .screenLoginContainer mat-form-field {
    display: block;
    width: 280px;
    margin: auto;
    padding: 8px 0 8px 0;
  }
  .logo img {
    width: 120px;
  }
}
