/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Menu style */
.container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: auto;
}

.header {
  background-color: #c9bba7;
  flex: 0 1 auto;
}

.side-bar-content {
  flex: 1 1 auto;
}

.side-nav-container {
  min-width: 150px;
}

.main-content {
  background-color: #f5f5f5;
}

.link-logout {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logout:hover {
  background-color: #f5f5f5 !important;
}

.logout {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px 12px;
  margin-left: auto;
  margin-right: 0;
}

.link {
  padding-left: 20px;
  text-decoration: none;
}

.link:hover {
  border-left: solid 6px #c9bba7;
  background-color: #f5f5f5 !important;
}
