<div class="father-div">
    <header>
      <div class="wrapper">
        <nav>
          <div class="logo">
            <img src="./assets/logo.png" alt="White Stone logo" />
          </div>
        </nav>
      </div>
    </header>
  
    <form [formGroup]="massageForm" (ngSubmit)="onSubmit()">
      <!-- PERSONAL INFORMATION SECTION -->
      <section class="wrapper">
        <mat-card class="personal-information">
          <mat-card-header class="personal-information-card-header">
            <mat-card-title>
              <h1>Personal Information</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="personal-information-card-content">
            <div>
              <div class="form-container">
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Full Name</mat-label>
                    <input matInput id="full_name" placeholder="Full Name" type="text" formControlName="full_name" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>DOB</mat-label>
                    <input formControlName="date_of_birth" matInput [matDatepicker]="picker" id="date_of_birth" placeholder="date_of_birth" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
  
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput id="address" placeholder="Address" type="text" formControlName="address" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Suburb</mat-label>
                    <input matInput id="suburb" placeholder="Suburb" type="text" formControlName="suburb" />
                  </mat-form-field>
                </div>
  
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state">
                      <mat-option value="n/a">Not Australia</mat-option>
                      <mat-option value="qld">QLD</mat-option>
                      <mat-option value="nsw">NSW</mat-option>
                      <mat-option value="vic">VIC</mat-option>
                      <mat-option value="tas">TAS</mat-option>
                      <mat-option value="act">ACT</mat-option>
                      <mat-option value="nt">NT</mat-option>
                      <mat-option value="ws">WA</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Postal Code</mat-label>
                    <input matInput id="postal_code" placeholder="Postal Code" type="text"
                      formControlName="postal_code" />
                  </mat-form-field>
                </div>
  
                <!-- Occupation -->
                <div>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Ocuppation</mat-label>
                    <input matInput id="occupation" placeholder="Occupation" type="text" formControlName="occupation" />
                  </mat-form-field>
                </div>
  
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" placeholder="Email" type="email" formControlName="email" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput id="phone" placeholder="Phone" type="text" formControlName="phone" />
                  </mat-form-field>
                </div>
  
                <div class="radiobox-lines">
                  <mat-radio-group aria-label="Select an option" formControlName="hasHealth_insurance">
                    <p>Do you have a health insurance?</p>
  
                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                    <mat-radio-button value="No">No</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="lines">
                  <mat-form-field>
                    <mat-label>Do you have Health Insurance?</mat-label>
                    <mat-select id="health_insurance" formControlName="health_insurance">
                      <mat-option value="No Insurance">I don't have health insurance</mat-option>
                      <mat-option value="Medibank">Medibank</mat-option>
                      <mat-option value="Bupa">Bupa</mat-option>
                      <mat-option value="HCF">HCF</mat-option>
                      <mat-option value="Nib">Nib</mat-option>
                      <mat-option value="HBF">HBF</mat-option>
                      <mat-option value="Australian Unity">Australian Unity</mat-option>
                      <mat-option value="Teachers Health">Teachers Health</mat-option>
                      <mat-option value="Quantas Health">Quantas Health</mat-option>
                      <mat-option value="Defence Health">Defence Health</mat-option>
                      <mat-option value="CBHS">CBHS</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Other</mat-label>
                    <input matInput id="health_insurance_other" placeholder="Other" type="text" formControlName="health_insurance_other" />
                  </mat-form-field>
                </div>
  
                <div class="three-collums">
                  <mat-form-field appearance="fill">
                    <mat-label>Emergency Contact Name</mat-label>
                    <input matInput id="emergency_contact_name" placeholder="Emergency Contact Name" type="text" formControlName="emergency_contact_name" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Relationship</mat-label>
                    <input matInput id="emergency_contact_relationship" placeholder="Relationship" type="text" formControlName="emergency_contact_relationship" />
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput id="emergency_contact_phone" placeholder="Phone" type="text" formControlName="emergency_contact_phone" />
                  </mat-form-field>
                </div>
                <!-- Hear about us -->
                <h4>How did you hear about us?</h4>
                <div class="lines">
                  <div style="width: 50%;">
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_online_search" name="hear_about_us_online_search" formControlName="hear_about_us_online_search" [ngModel]="notChecked"/>
                      <label for="hear_about_us_online_search">Online Search</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_facebook" name="hear_about_us_facebook" formControlName="hear_about_us_facebook" [ngModel]="notChecked"/>
                      <label for="hear_about_us_facebook">Facebook</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_instagram" name="hear_about_us_instagram" formControlName="hear_about_us_instagram" [ngModel]="notChecked"/>
                      <label for="hear_about_us_instagram">Instagram</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_online_advertisement" name="hear_about_us_online_advertisement" formControlName="hear_about_us_online_advertisement" [ngModel]="notChecked"/>
                      <label for="hear_about_us_online_advertisement">Online Advertisement</label>
                    </div>
                  </div>
                  <div style="width: 50%;">
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_word_of_mouth" name="hear_about_us_word_of_mouth" formControlName="hear_about_us_word_of_mouth" [ngModel]="notChecked"/>
                      <label for="hear_about_us_word_of_mouth">Word of Mouth</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_friend_family" name="hear_about_us_friend_family" formControlName="hear_about_us_friend_family" [ngModel]="notChecked"/>
                      <label for="hear_about_us_friend_family">Friend/family</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_healthcare_provider" name="hear_about_us_healthcare_provider" formControlName="hear_about_us_healthcare_provider" [ngModel]="notChecked"/>
                      <label for="hear_about_us_healthcare_provider">Healthcare Provider</label>
                    </div>
                    <div>
                      <mat-checkbox type="checkbox" id="hear_about_us_walked_by" name="hear_about_us_walked_by" formControlName="hear_about_us_walked_by" [ngModel]="notChecked"/>
                      <label for="hear_about_us_walked_by">Walked by</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
  
      <!-- MEDICAL INFORMATION SECTION -->
      <section class="wrapper">
        <mat-card class="personal-information">
          <mat-card-header class="personal-information-card-header">
            <mat-card-title>
              <h1>Medical Information</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="personal-information-card-content">
  
  
              <div class="form-container">
                <div class="lines">
                  <div class="radiobox-lines">
                    <mat-radio-group aria-label="Select an option" formControlName="taking_medication">
                      <p>Are you taking any medications?</p>
                      <mat-radio-button value="Yes">Yes</mat-radio-button>
                      <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                <mat-form-field appearance="fill">
                  <mat-label>If yes, please list name and use</mat-label>
                  <input matInput id="medications" placeholder="Please type the name and use" type="text"
                    formControlName="taking_medication_list" />
                </mat-form-field>
              </div>
  
                <div class="lines">
                  <div class="radiobox-lines">
                    <mat-radio-group aria-label="Select an option" formControlName="pregnant">
                      <p>Are you currently pregnant?</p>
                      <mat-radio-button value="Yes">Yes</mat-radio-button>
                      <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                <mat-form-field appearance="fill">
                  <mat-label>If yes, how far along?</mat-label>
                  <input matInput id="pregnant_how_far" placeholder="How far" type="text" formControlName="pregnant_how_far" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Any high risk factors?</mat-label>
                  <input matInput id="risks-pregnant" placeholder="Any risk" type="text" formControlName="pregnant_high_risk" />
                </mat-form-field>
              </div>
  
                <div class="lines">
                  <div class="radiobox-lines">
                    <mat-radio-group aria-label="Select an option" formControlName="chronic_pain" >
                      <p>Do you suffer from chronic pain?</p>
                      <mat-radio-button value="Yes">Yes</mat-radio-button>
                      <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                <mat-form-field appearance="fill">
                  <mat-label>If yes, please explain</mat-label>
                  <input matInput id="chronic_pain_explanation" placeholder="Please type the name and use" type="text"
                    formControlName="chronic_pain_explanation" />
                </mat-form-field>
              </div>
  
                <div class="lines">
                  <div class="radiobox-lines">
                    <mat-radio-group aria-label="Select an option" formControlName="orthopedic_injuries" >
                      <p>Have you had any orthopedic injuries?</p>
                      <mat-radio-button value="Yes">Yes</mat-radio-button>
                      <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
  
                <mat-form-field appearance="fill">
                  <mat-label>If yes, please list</mat-label>
                  <input matInput id="orthopedic_injuries" placeholder="Please type the name and use" type="text"
                  formControlName="orthopedic_injuries_list" />
                </mat-form-field>
              </div>
  
              <h4>Please indicate any of the following that apply to you:</h4>
              <div class="lines">
  
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasCancer" name="hasCancer" formControlName="hasCancer" [ngModel]="notChecked"/>
                    <label for="hasCancer">Cancer</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasHeadaches_migraines" name="hasHeadaches_migraines" formControlName="hasHeadaches_migraines" [ngModel]="notChecked"/>
                    <label for="hasHeadaches_migraines">Headaches / Migraines</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasArthritis" name="hasArthritis" formControlName="hasArthritis" [ngModel]="notChecked"/>
                    <label for="hasArthritis">Arthritis</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasDiabetes" name="hasDiabetes" formControlName="hasDiabetes" [ngModel]="notChecked"/>
                    <label for="hasDiabetes">Diabetes</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasJoint_replacement" name="hasJoint_replacement" formControlName="hasJoint_replacement" [ngModel]="notChecked"/>
                    <label for="hasJoint_replacement">Joint Replacement(s)</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasHigh_low_pressure" name="hasHigh_low_pressure" formControlName="hasHigh_low_pressure" [ngModel]="notChecked"/>
                    <label for="hasHigh_low_pressure">High / Low Blood Pressure</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasNeuropathy" name="hasNeuropathy" formControlName="hasNeuropathy" [ngModel]="notChecked"/>
                    <label for="hasNeuropathy">Neuropathy</label>
                  </div>
                </div>
                <div style="width: 50%;">
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasFibromyalgia" name="hasFibromyalgia" formControlName="hasFibromyalgia" [ngModel]="notChecked"/>
                    <label for="hasFibromyalgia">Fibromyalgia</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasStroke" name="hasStroke" formControlName="hasStroke" [ngModel]="notChecked"/>
                    <label for="hasStroke">Stroke</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasHeart_attack" name="hasHeart_attack" formControlName="hasHeart_attack" [ngModel]="notChecked"/>
                    <label for="hasHeart_attack">Heart Attack</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasKidney_dysfunction" name="hasKidney_dysfunction" formControlName="hasKidney_dysfunction" [ngModel]="notChecked"/>
                    <label for="hasKidney_dysfunction">Kidney Dysfunction</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasBlood_clots" name="hasBlood_clots" formControlName="hasBlood_clots" [ngModel]="notChecked"/>
                    <label for="hasBlood_clots">Blood Clots</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasNumbness" name="hasNumbness" formControlName="hasNumbness" [ngModel]="notChecked"/>
                    <label for="hasNumbness">Numbness</label>
                  </div>
                  <div>
                    <mat-checkbox color="primary" type="checkbox" id="hasSprains_strains" name="hasSprains_strains" formControlName="hasSprains_strains" [ngModel]="notChecked"/>
                    <label for="hasSprains_strains">Sprains or Strains</label>
                  </div>
                </div>
              </div>
              <br />
              <div class="lines">
                <mat-form-field>
                  <mat-label>Explain any conditions you have marked above</mat-label>
                  <textarea matInput placeholder="Any conditions" formControlName="conditions_explanation"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
  
      <!-- MASSAGE INFORMATION SECTION -->
      <section class="wrapper">
        <mat-card class="personal-information">
          <mat-card-header class="personal-information-card-header">
            <mat-card-title>
              <h1>Massage Information</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="personal-information-card-content">
  
              <div class="form-container">
                <div class="lines">
                  <div class="radiobox-lines">
                    <mat-radio-group aria-label="Select an option"  id="had_professional_massage" formControlName="had_professional_massage">
                      <p>Have you had a professional massage before?</p>
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>What type of massage are you interested in?</mat-label>
                    <mat-select formControlName="professional_massage_type" multiple>
                      <mat-option value="n/a">Remedial Massage</mat-option>
                      <mat-option value="qld">Deep Tissue/Sports Massage</mat-option>
                      <mat-option value="nsw">Swedish/Relaxation</mat-option>
                      <mat-option value="vic">Lymphatic Drainage</mat-option>
                      <mat-option value="tas">Foot Reflexology</mat-option>
                      <mat-option value="act">Indian Head Massage</mat-option>
                      <mat-option value="nt">Dry Needling</mat-option>
                      <mat-option value="ws">Cupping Treatment</mat-option>
                      <mat-option value="ws">Pregnancy Massage</mat-option>
                      <mat-option value="ws">Post Natal Massage</mat-option>
                      <mat-option value="ws">Energy Healing Massage</mat-option>
                      <mat-option value="ws">Devine Shape</mat-option>
                      <mat-option value="ws">Lomi Lomi</mat-option>
                      <mat-option value="ws">Recover and Disconnect</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Other</mat-label>
                    <input matInput id="professional_massage_other" placeholder="Other" type="text" formControlName="professional_massage_other" />
                  </mat-form-field>
                </div>
                <div>
                  <div class="radiobox-lines">
                  <mat-radio-group id="pressure_preference" aria-label="Select an option" formControlName="pressure_preference">
                    <p>What pressure do you prefer?</p>
                    <mat-radio-button value="Light">Light</mat-radio-button>
                    <mat-radio-button value="Medium">Medium</mat-radio-button>
                    <mat-radio-button value="Hard">Hard</mat-radio-button>
                    <mat-radio-button value="Deep">Deep</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
  
                  <div class="radiobox-lines">
                    <mat-radio-group id="allergies_sensitivities" aria-label="Select an option" formControlName="allergies_sensitivities">
                      <p>Do you have any allergies or sensitivities?</p>
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </div>
                <div>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Please Explain</mat-label>
                    <input matInput id="allergies_sensitivities_explanation" placeholder="Please Explain" type="text" formControlName="allergies_sensitivities_explanation" />
                  </mat-form-field>
                </div>
  
                <h4>What are your goals for this treatment session?</h4>
                <div class="lines">
  
                  <div style="width: 50%;">
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_injury_rehabilitation" name="goal_injury_rehabilitation" formControlName="goal_injury_rehabilitation" [ngModel]="notChecked"/>
                      <label for="goal_injury_rehabilitation">Injury Rehabilitation</label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_improve_sleep" name="goal_improve_sleep" formControlName="goal_improve_sleep" [ngModel]="notChecked"/>
                      <label for="goal_improve_sleep">Improve Sleep</label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_increase_energy" name="goal_increase_energy" formControlName="goal_increase_energy" [ngModel]="notChecked"/>
                      <label for="goal_increase_energy">Increase Energy</label>
                    </div>
                  </div>
                  <div style="width: 50%;">
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_injury_rehabilitation" name="goal_injury_rehabilitation" formControlName="goal_injury_rehabilitation" [ngModel]="notChecked"/>
                      <label for="goal_injury_rehabilitation">Injury Rehabilitation</label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goals-sleep" name="goals-sleep" />
                      <label for="goals-sleep">Improve Sleep</label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goals-energy" name="goals-energy" />
                      <label for="goals-energy">Increase Energy</label>
                    </div>
                  </div>
  
                </div>
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Other</mat-label>
                    <input matInput id="" placeholder="Other goals" type="text" formControlName="" />
                  </mat-form-field>
                </div>
  
                <h4>How often do you have a massage?</h4>
                <div class="lines">
  
                  <div style="width: 50%;">
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_injury_rehabilitation" name="goal_injury_rehabilitation" formControlName="goal_injury_rehabilitation" [ngModel]="notChecked"/>
                      <label for="goal_injury_rehabilitation">Weekly </label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_improve_sleep" name="goal_improve_sleep" formControlName="goal_improve_sleep" [ngModel]="notChecked"/>
                      <label for="goal_improve_sleep">Monthly</label>
                    </div>
                    <div>
                      <mat-checkbox color="primary" type="checkbox" id="goal_increase_energy" name="goal_increase_energy" formControlName="goal_increase_energy" [ngModel]="notChecked"/>
                      <label for="goal_increase_energy">Random</label>
                    </div>
                  </div>
  
                </div>
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Other</mat-label>
                    <input matInput id="" placeholder="How often" type="text" formControlName="" />
                  </mat-form-field>
                </div>
  
                <h4>Please select any areas of discomfort</h4>
  
                <br><br><br><br><br><br><br><br><br><br>
  
                <h4>By signing below, you agree to the following.</h4>
                <h4> I have completed this form to the best of my ability and
                  knowledge and agree to inform my therapist if any of the above information changes at any time.
                </h4>
  
                <div class="lines">
                  <mat-form-field appearance="fill">
                    <mat-label>Client Signature</mat-label>
                    <input matInput id="client_signature" placeholder="Client Signature" type="text" formControlName="client_signature" />
                  </mat-form-field>
  
                  <mat-form-field appearance="fill">
                    <mat-label>Signature Date</mat-label>
                    <input formControlName="client_signature_date" matInput [matDatepicker]="picker_signature" id="client_signature_date"
                      placeholder="Signature date" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker_signature"></mat-datepicker-toggle>
                    <mat-datepicker #picker_signature></mat-datepicker>
                  </mat-form-field>
  
                </div>
  
                <div>
                  <button mat-fab extended>Submit</button>
                </div>
              </div>
  
          </mat-card-content>
        </mat-card>
      </section>
    </form>
  </div>
  
  
  
  
  
  
  