.father-div {
  background-color: #fafafa;
  overflow: hidden;
  margin-bottom: 50px;
  min-height: 100vh;
  position: absolute;
}

header {
  background-color: #c9bba7;
  height: 115px;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 12px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 96px;
  margin-left: 68px;
}

.wrapper {
  max-width: 90vw;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
}

.panel {
  max-width: 90vw;
  margin: auto;
}

.massageform {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.personal-information {
  margin-top: 40px;
}

.personal-information:hover {
  border: solid 1px blue;
}

.personal-information-card-header {
  margin: auto;
  padding: 24px 0;
}

.personal-information-card-content {
  padding: 0;
  margin: 0px 80px;
}

.full-width {
  width: 100% !important;
}

.full {
  display: flex;
  margin: auto;
}

.three-collums {
  columns: 3;
  display: flex;
  margin: auto;
  gap: 16px;
  align-items: center;
}

.top-padding {
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child) {
  margin-left: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 80%;
}

.form-container mat-form-field {
  position: relative;
  width: 100%;
}

.lines {
  columns: 2;
  display: flex;
  align-content: center;
  gap: 16px;
  width: 100%;
}
.lines-pregnancy {
  columns: 2;
  display: flex;
  align-content: center;
  gap: 16px;
  width: 100%;
}
.checkbox-lines {
  columns: 2;
  display: flex;
  align-content: center;
  gap: 16px;
  width: 100%;
}
.checkbox-lines-width {
  width: 50%;
}

.radiobox-lines {
  display: flex;
  columns: 2;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
  gap: 16px;
  width: 100%;
}
.radiobox-lines h4 {
  width: 100%;
}

.radiobox-lines h4 {
  margin: 0;
  min-width: 50%;
  display: flex;
  align-items: center;
}

.mat-mdc-radio-button {
  padding-right: 8px;
}

mat-radio-group {
  margin: 0;
  width: 100%;
  display: flex;
}

.checkbox-container {
  margin: 8px 0;
  columns: 2;
  display: flex;
}

.checkbox-margin {
  margin: 0 12px;
}

/* Tablet - 912px */
@media only screen and (max-width: 912px) {
  .three-collums {
    columns: 1;
    display: block;
    margin: auto;
    gap: 16px;
    align-items: center;
  }
  .lines {
    columns: 1;
    display: block;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  .lines-pregnancy {
    columns: 2;
    display: flex;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  .radiobox-lines {
    display: block;
    columns: 1;
  }
}

/* Mobile - 600px */
@media only screen and (max-width: 600px) {
  .lines {
    columns: 1;
    display: block;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  .lines-pregnancy {
    columns: 1;
    display: block;
    align-content: center;
    align-items: center;
    margin: auto;
  }

  .personal-information-card-header {
    padding: 24px 0;
  }

  mat-form-field {
    width: 100% !important;
  }

  .checkbox-lines {
    columns: 1;
    display: block;
    align-content: center;
    gap: 16px;
    width: 100%;
  }
  .checkbox-lines-width {
    width: 100%;
  }

  .radiobox-lines {
    display: block;
    columns: 1;
  }
}

/* Mobile - 390px */
@media only screen and (max-width: 390px) {
  .radiobox-lines mat-radio-group {
    display: block;
  }
}

/* SVG Human Body Image */

.human_body_checkbox {
  fill: #b3b3b3;
}
.human_body_checkbox path:hover {
  fill: #570000;
}

.human_body_part_selected {
  fill: rgb(200, 0, 0);
}
#humanbody_checkbox input[type="checkbox"] {
  display: none;
}

.human_body_container {
  display: inline-block;
  margin: 0 16px 16px 16px;
  padding: 8px 16px 8px 16px;
  border: 1px dotted #000000;
  border-radius: 16px;
}

.human_body_container h4 {
  display: block;
  text-align: center;
}
